@import './general.css';

#main-cover {
    height: 100vh
}

@media (min-width: 768px) {
    #main-cover {
        height: calc(100vh - 7rem);
    }
}

#main-content {
    background: var(--gradient-background);
    background-attachment: local;
    transition: background 1s ease;
}

#main-header {
    top: 0;
    left: 0;
    width: 100%;
    background: var(--gradient-background);
    transition: background 1s ease;
}

#header-img-container {
    background-color: var(--header-img-container-color);
    transition: transform 0.0125s;
}

#header-img-container:hover {
    background-color: var(--background-base);
    cursor: pointer;
    transform: scale(1.05);
}

#header-img {
    height: 1.75rem;
}

.navegation-arrow {
    color: var(--text-subdue);
    background-color: var(--background-base);
    cursor: not-allowed;
}

#time-of-day-message {
    color: var(--text-base);
    font-weight: 600;
}

#profile-container-desktop {
    background: var(--profile-container-background-desktop);
    margin: 1rem 6rem;
}

#profile-container-mobile {
    background: var(--profile-container-background-mobile);
}

#profile-container-desktop, #profile-container-mobile > * {
    color: var(--text-base);
}

#profile-img {
    height: 15rem;
}

#profile-job {
    font-size: 1rem;
    font-weight: 500;
}

#profile-name {
    font-size: 4.5rem;
    font-weight: 500;
}

#profile-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

#profile-name-mobile {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

#profile-text {
    font-size: 1rem;
    font-weight: 400;
}

#profile-text-mobile {
    text-align: center;
}

#section-title {
    color: var(--essential-base);
    font-size: 1.3rem;
    font-weight: 600;
}

@media (min-width: 576px) {
    #section-title {
        font-size: 2rem;
    }
}

#section-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

#infocard {
    background-color: var(--infocard-background);
    cursor: pointer;
    transition: background-color 0.4s;
}

#infocard:hover {
    background-color: var(--infocard-hover);
}

#infocard-img {
    max-height: 4rem;
}

@media (min-width: 576px) {
    #infocard-img {
        max-height: 5rem;
    }
}

#infocard-text {
    color: var(--text-base);
    font-weight: 500;
    font-size: 0.9rem;
}

@media (min-width: 576px) {
    #infocard-text {
        font-size: 1rem;
    }
}

#infocard-subtext {
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--text-subdue);
}

#infocard #infocard-button {
    color: var(--essential-positive);
    font-size: 3rem;
    opacity: 0;
    transition: opacity 0.25s;
    z-index: 2;
    right:  5%;
}

#infocard:hover #infocard-button {
    opacity: 1;
}

#info-1:hover 

#projectcard {
    background-color: var(--projectcard-background);
    cursor: pointer;
    padding: 0.5rem;
    transition: background-color 0.4s;
}

@media (min-width: 576px) {
    #projectcard {
        padding: 1rem;
    }
}

#projectcard:hover {
    background-color: var(--infocard-background);
}

#projectcard-info-container {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 4.5rem;
}

@media (min-width: 576px) {
    #projectcard-info-container {
        height: 5rem;
    }
}

#projectcard-title {
    color: var(--text-base);
    font-weight: 600;
    font-size: 0.9rem;
}

@media (min-width: 576px) {
    #projectcard-title {
        font-size: 1rem;
    }
}

#projectcard-text {
    color: var(--text-subdue);
    font-weight: 300;
    font-size: 0.75rem;
}

@media (min-width: 576px) {
    #projectcard-text {
        font-size: 0.85rem;
    }
}

#projectcard #projectcard-button {
    opacity: 0;
    font-size: 3rem;
    color: var(--essential-positive);
    transition: 0.25s;
    z-index: 2;
    right: 5%;
    bottom: 0%;
}

#projectcard:hover #projectcard-button {
    opacity: 1;
    transform: translateY(-10%);
    
}