@import './rubikFont.css';
@import './body.css';
@import './footer.css';
@import './sidebar.css';
@import './main.css';

:root {
    --background-base: #121212;
    --background-press: #000;
    --text-base: #fff;
    --text-subdue: #a7a7a7;
    --essential-base: #fff;
    --essential-subdue: #727272;
    --essential-positive: #1ed760;

    --gradient-background: linear-gradient(to bottom, var(--essential-subdue) 0%, var(--background-base) 15rem , var(--background-base) 100%);
    --header-img-container-color: rgba(18, 18, 18, 0.8);
    --profile-container-background-desktop: linear-gradient(40deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    --profile-container-background-mobile: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    --infocard-background: rgba(200, 200, 200, 0.1);
    --infocard-hover: rgba(223, 223, 223, 0.2);
    --projectcard-background: #181818
}

*, .row, .padding {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-press);
    height: 100%;
    user-select: none;
}

.icon {
    color: var(--text-subdue);
}

.icon:hover {
    cursor: pointer;
    color: var(--essential-base);
    transition: 0.3s;
}

.text-active {
    color: var(--essential-positive);
}