@import './rubikFont.css';
@import './body.css';
@import './footer.css';
@import './sidebar.css';
@import './main.css';

:root {
    --background-base: #121212;
    --background-press: #000;
    --text-base: #fff;
    --text-subdue: #a7a7a7;
    --essential-base: #fff;
    --essential-subdue: #727272;
    --essential-positive: #1ed760;
}

*, .row, .padding {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: grey;
}

.icon {
    color: var(--text-subdue);
}

.icon:hover {
    cursor: pointer;
    color: var(--essential-base);
    transition: 0.3s;
}