.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 247px;
    height: 64px;
    justify-content: space-between;
    /* background-color: rgb(87, 21, 21); */
    padding-right: 35px;
    padding-left: 32px;
    z-index: 2;
}

.arrows-container {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.arrow-button-forward,
.arrow-button-back {
    border: none;
    border-radius: 100px;
    background-color: rgba(0,0,0,.7);
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    padding-right: 7px;
    opacity: 0.6;
}

/* 
.arrow-button-forward {
    opacity: 0.6;
} 
*/

.page-arrow {
    color: white;
    fill: currentColor;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.8);
    border: none;
    border-radius: 50px;
    padding-right: 8px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}

.profile-picture {
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 7px;
}

.profile-name {
    font-size: 13px;
    font-weight: 600;
    color: rgb(247, 247, 247);
    margin-right: 7px;
}

.down-arrow {
    color: white;
    fill: currentColor;
}