.introduction-container {
    background-image: linear-gradient(
        45deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)
    );
    display: flex;
    padding: 15px;
    padding-top: 45px;
}

.introduction-photo {
    height: 240px;
    width: 240px;
    margin-right: 25px;
    align-self: end;
}

.introduction-info {
    display: flex;
    flex-direction: column;
}

.introduction-texts {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.introduction-ocupation-name-container {
    display: flex;
    flex-direction: column;
}

.introduction-ocupation {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.introduction-name {
    color: white;
    font-weight: bold;
    font-size: 80px;
}

.introduction-description {
    color: white;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.intoduction-button-container {
    display: flex;
    gap: 17px;
}

.introduction-play-button {
    color: black;
    border: none;
    background-color: rgb(29, 185, 84);
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 100px;
}

.introduction-follow-button {
    color: white;
    background: none;
    border-radius: 100px;
    font-size: 16px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 14px 22px;
}