@import './general.css';

#sidebar-header {
    background-color: var(--background-base);
}

#sidebar {
    position: relative;
    width: 400px;
}

#resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    cursor: col-resize;
}

#resizer:hover {
    border-left: 1px solid var(--essential-subdue);
}

.sidebar-header-hover {
    color: var(--text-subdue);
}

.sidebar-header-hover:hover {
    color: var(--essential-base);
    cursor: pointer;
    transition: 0.3s;
}

#my-library-container {
    border-bottom: 1px solid var(--infocard-hover);
}

#sidebar-songs {
    background-color: var(--background-base);
}

.sidebar-songs-cover {
    padding: 0 0.5rem;
}

.sb-card {
    cursor: pointer;
}

.sb-card:hover {
    background-color: rgba(167, 167, 167, 0.1);
}

.sb-song-name {
    color: var(--essential-base);
    font-size: 15px;
}

.sb-song-author {
    color: var(--text-subdue);
    font-size: 13px;
}