@import './general.css';

#main-cover {
    height: calc(100vh - 7rem);
}

#sidebar-header {
    background-color: var(--background-base);
}

#sidebar {
    position: relative;
    width: 400px;
}

#resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    cursor: col-resize;
}

.sidebar-header-hover {
    color: var(--text-subdue);
}

.sidebar-header-hover:hover {
    color: var(--essential-base);
    cursor: pointer;
    transition: 0.3s;
}

#sidebar-songs {
    background-color: var(--background-base);
}